[Unit]
Description=TrustChain Crawler
After=network-online.target

[Service]
Type=simple
Environment="PYTHONPATH=/opt/ipv8"
User=trustchain_crawler
Group=trustchain_crawler
WorkingDirectory=/opt/ipv8
ExecStart=/usr/bin/python3 scripts/trustchain_crawler_plugin.py --statedir=/var/lib/trustchain_crawler $EXTRA_CRAWLER_ARGS
Restart=always
Environment=EXTRA_CRAWLER_ARGS=

[Install]
WantedBy=multi-user.target
